<!DOCTYPE html>
<html lang="en">

{{>headerlinks}}

<body>
{{>navbar}}
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center" >
                    <img src="https://www.sumydesigns.com/wp-content/uploads/2019/03/404-error.jpg" alt="Satyam" class="img-fluid" title="Satyam">
            </div>
            <div class="col-md-6 col-12 main_header_left align-items-center" >
            
            <p>Welcome to the Weather Website</p>
            <h1><span>{{errorMsg}} </span></h1>
            <a href="/"><button>return home</button></a>
           </div>
          
        </div> 

  </div>
  </div>
  </div>
{{>footer}}
  </body>

 </body>

</html>