<!DOCTYPE html>
<html lang="en">

{{>headerlinks}}

<body>
{{>navbar}}
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center" >
                    <img src="style/satyam.JPG" alt="Satyam" class="img-fluid" title="Satyam">
                
            </div>
            <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to the Weather Website</p>
            <h1><span>I am a FullStack Developer </span></h1>
            <a href="https://www.linkedin.com/in/satyam-tomar-0873a91b0?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bn5VFj81XTKKBvjHmLqt8YQ%3D%3D"><button>About me</button></a>
          </div>
          
        </div> 

  </div>
  </div>
  </div>
<footer>
<ul class="social">
                	<li><a href="https://www.linkedin.com/in/satyam-tomar-0873a91b0?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bn5VFj81XTKKBvjHmLqt8YQ%3D%3D" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://github.com/satyamtomar" target="_blank"><i class="fa fa-github"></i></a></li>
                	
                    </ul>
</footer>

  </body>

 </body>

</html>